<!DOCTYPE html>
<html>
<head>
    <title>My First App</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">

</head>
    <body>
        <div  class="div1">
            <h1>welcome!</h1>
        </div>
            <div class="div2">
            <p>this is my first web application.<br/>
                sign up to experience it.
            </p>    
            
            </div>
            <div class="div3"> <a href="signup">SIGN UP</a>
                <a href="login">LOGIN </a>
            </div>
                
    </body>
</html>