<!DOCTYPE html>
<html>
<head>
    <title>login form</title>
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
</head>
<body>
    <div class="div1">
        <h2>LOGIN PAGE</h2>
    </div>
    <form id="signupform" class="f1">
                    <div class="d2">
                        <label>username</label>
                        <input type="text" id="username"/>
                    </div>
                    <div class="d2">
                        <label>password</label>
                        <input type="password" id="password"/>
                    </div>

                    <div class="dlast">
                        <button type="button" id="btnlogin"><a href="index">LOGIN </a>
                </button>
                    </div>
    </form>
    <script type="text/javascript"src="../static/js/login.js"></script>
</body>
</html>